*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header_nav a {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #030303;
}

.header_nav img {
  margin-right: 5px;
}

.header_nav li:last-child {
  position: relative;
}

.header_nav li:last-child::before {
  content: "0";
  position: absolute;
  top: -4px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: #e36305;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
  color: #ffffff;
}
.search {
  display: flex;
  justify-content: space-between;
  width: 902px;
  height: 48px;
  border: 1px solid #9fa3a6;
}
.search input {
  border: none;
  outline: none;
  width: 300px;
  padding-left: 20px;
}
.search ::placeholder {
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #40464d;
}
.search img {
  width: 20.93px;
  height: 20.93px;
  margin: 10px 20px;
}

.menu {
  width: 100%;
  height: 48px;
  left: 0px;
  top: 72px;
  background: #030303;
}

.menu,
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu li a {
  display: flex;
  padding-left: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.breadcrumb {
  height: 40px;
}

.breadcrumb,
.breadcrumb ul,
.breadcrumb a {
  display: flex;
  align-items: center;
}

.breadcrumb img {
  margin-top: 3px;
  width: 8px;
  height: 12px;
  margin-left: 15px;
}

.breadcrumb li {
  display: flex;
  margin-left: 36px;
}

.breadcrumb li a {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: -15px;
}

.breadcrumb li a:last-child {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.004em;
  text-align: left;
  color: #e36305;
  margin-left: -15px;
}

.product-section {
  display: flex;
  width: 1440px;
  border: 1px solid #e9e9e9;
  padding: 40px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 64px;
}

.product img {
  width: 448px;
  height: 448px;
}
.product span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #40464d;
}

.product-content {
  margin-left: 100px;
}

.product-color {
  display: flex;
  flex-direction: column;
}

.product-color span {
  width: 221px;
  height: 20px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0px;
}

.colors img {
  height: 32px;
  width: 31px;
  border-radius: 0px;
}



.left {
  width: 400px;
}
.size {
  margin: 20px 0px;
}

.size span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0px;
}

.buttons-size button {
  width: 83px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #cfd1d2;
  box-sizing: border-box;
  border-radius: 4px;
}
#buttons-size-enable {
  width: 70px;
  height: 48px;
  background: #e9e9e9;
  border-radius: 4px;
}
.shipping {
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 112px;
  border: 1px solid #e9e9e9;
  margin-top: 30px;
  padding: 0 20px;
}

.shipping img {
  width: 28px;
  height: 24px;
  margin-top: 40px;
  margin-left: 10px;
}

.shipping h3 {
  text-align: center;
  margin-top: -40px;
  margin-left: -90px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
}

.shipping a {
  text-align: center;
  padding-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #40b25c;
  margin-top: 8px;
  margin-left: -20px;
}

.shipping span,
p {
  text-align: center;
  margin-left: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #40464d;
  margin-top: 4px;
}

.right {
  width: 315px;
  height: 352px;
  margin-top: -350px;
  margin-right: 90px;
  float: right;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 4px;
}

.right h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #030303;
  padding-top: 24px;
  padding-left: 24px;
}

.right h3 {
  text-decoration: line-through;
  color: #9fa3a6;
  font-size: 14px;
  padding-left: 24px;
  padding-right: 10px;
}

.price {
  display: flex;
}

.price span {
  width: 62px;
  height: 16px;
  border-radius: 4px;
  background-color: #f6cbcb;
  color: #e63737;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #9fa3a6;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 24px;
  margin-left: 24px;
}

.minus,
.plus {
  color: #40b25c;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 10px;
}
.texts {
  margin-top: 20px;
}

.texts a {
  color: #40b25c;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.texts h2 {
  width: 780px;
  height: 56px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-right: 50px;
}

.description span {
  width: 73px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #40464d;
}

.description a {
    margin-top: 16px;
    margin-bottom:24px ;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    text-transform: uppercase;
    color: #40b25c;
}
.image img{
    position: relative;
    z-index: -10;
}
.buttons-imagem button:first-child{
    position: absolute;
    color: #40b25c;
    background: #FFFFFF;
    opacity: 0.5;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-top: 156px;
    margin-left: 16px;
    height: 48px;
    width: 48px;
    z-index: 10;
    font-size: 24px;
}
.buttons-imagem button{
    position: absolute;
    color: #40b25c;
    background: #FFFFFF;
    opacity: 0.5;
    outline: none;
    border: none;
    border-radius: 50%;
    margin-top: 136px;
    margin-left: 1310px;
    height: 48px;
    width: 48px;
    z-index: 10;
    font-size: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 165px;
  margin-top: -40px;
  margin-left: 170px;
}
.info span:first-child {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: #e63737;
}
.info span {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

.buttons-cart {
  display: flex;
  margin-top: 24px;
  flex-direction: column;
}

.buttons-cart button:first-child {
  width: 267px;
  height: 56px;
  margin-left: 24px;
  background: #40b25c;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
}
.buttons-cart button {
  width: 267px;
  height: 56px;
  margin-left: 24px;
  background: #e36305;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 8px;
  border: none;
  outline: none;
}

.buttons-cart button img {
  transform: translateY(25%);
}

.buttons-cart span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #40464d;
  margin-top: 24px;
}

.bought-products-ul {
  display: flex;
}

.bought-products-ul img {
  position: relative;
}
#left {
  position: absolute;
  color: #40b25c;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  outline: none;
  border: none;
  margin-top: 152px;
  margin-left: -210px;
}
#rigth {
  position: absolute;
  color: #40b25c;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.5;
  outline: none;
  border: none;
  margin-top: 184px;
  margin-left: -70px;
}

.products-bought,
.products-bought-save {
  height: 360px;
  width: 216px;
  left: 0px;
  top: 0px;
  border-radius: 4px;
  padding: 16px, 16px, 24px, 16px;
  margin-left: 16px;
}

.products-bought h5,
.products-bought-save h5 {
  width: 200px;
  height: 40px;
  left: 0px;
  top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #030303;
  margin-top: -20px;
  margin-left: 15px;
}

.products-bought p,
.products-bought-save p {
  width: 184px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #9fa3a6;
  margin: 0;
  padding-right: 100px;
}

.products-bought-save p {
  margin-top: 20px;
}

.products-bought h4,
.products-bought-save h4 {
  width: 184px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #030303;
  margin-left: 15px;
}
.products-bought h4 {
  margin-top: 40px;
}
.products-bought span,
.products-bought-save span {
  width: 184px;
  height: 20px;
  left: 0px;
  top: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #40464d;
  margin-left: 15px;
}
.text a {
  float: right;
  margin-right: 100px;
  color: #40b25c;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.price-products {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: 5px;
  z-index: 1;
}

.price-products span:first-child {
  width: 25px;
  height: 16px;
  left: 0px;
  top: 18px;
  background: #e63737;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.price-products span {
  width: 62px;
  height: 16px;
  left: 0px;
  top: 18px;
  background: #f6cbcb;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: #e63737;
}

.products-bought img,
.products-bought-save img {
  padding: 15px;
  z-index: -1;
}
.products-bought img {
  margin-top: 32px;
}

.details h3 {
  margin-top: 46px;
  margin-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #101820;
}

.details p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: -1px;
}

.details ul {
  margin-top: 20px;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101820;
}
.text-descrition {
  height: 380px;
  width: 1028px;
}
.text-descrition a{
    color: #40599D;
}

.offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 138px;
  width: 1440px;
  height: 112px;
  background-color: #40b25c;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

.search-offers {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 421px;
  height: 48px;
  border-radius: 4px;
  margin-left: 64px;
}
.search-offers input {
  margin-right: 250px;
  padding-left: 0;
  border: none;
  outline: none;
  padding-left: 20px;
}
.search-offers img {
  width: 20.93px;
  height: 20.93px;
  margin: 10px 20px;
  transform: translateY(15%);
}
.offers button {
  padding: 12px 32px;
  width: 119px;
  height: 48px;
  background: #e36305;
  border-radius: 4px;
  outline: none;
  border: none;
  margin-left: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

footer {
  background-color: #030303;
  margin-top: -10px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.section ul {
  margin-left: 40px;
  text-align: left;
}
.section ul li p {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  margin-top: 48px;
  margin-left: 0;
}

.section li {
  margin-top: 10px;
}
.section li a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #cfd1d2;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.buttons button:first-child {
  width: 332px;
  height: 48px;
  background: #40b25c;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.buttons button {
  width: 332px;
  height: 48px;
  background: #e36305;
  border-radius: 4px;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.buttons a {
  width: 332px;
  height: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: 36px;
}

.buttons img {
  transform: translateY(30%);
}

.information-footer {
  margin-top: 46px;
  border-top: 1px solid #ffffff1f;
  display: flex;
  justify-content: space-between;
}

.payments ul {
  display: flex;
  margin-top: 63px;
  margin-left: 34px;
}
.payments a {
  margin-left: 8px;
}

.social ul {
  display: flex;
  margin-top: 50px;
  margin-right: 201px;
}

.social a {
  margin-left: 32px;
}

.description-footer{
   padding: 30px 100px;
}

.description-footer p:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.004em;
  color: #ffffff;
}
.description-footer p {
  width: 1028px;
  height: 32px;
  left: 206px;
  top: 506px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #cfd1d2;
}

.busines{
    display: flex;
    justify-content: space-evenly;
    margin-top: 29px;
    padding-bottom: 55px;
}
.vtex{
    margin-right: -400px;
    margin-left: 100px;

}
.b8one{
    margin-right: 200px;

}

